@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    color: rgb(228, 230, 235);
    box-sizing: border-box;
}

:root {
    --gridSize: 90px;
    --colorOne: aquamarine;
    --colorTwo: fuchsia;
  }

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #18191A;
}

.grid-container {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    width: 810px;
    height: var(--gridSize);
    grid-template-columns: var(--gridSize) var(--gridSize) var(--gridSize) var(--gridSize) var(--gridSize) var(--gridSize) var(--gridSize) var(--gridSize) var(--gridSize);
}


.grid-item {
    border: 1px solid rgb(190, 190, 190);
    margin: 4px;
    border-radius: 5px;
}

.circle {
    background-color: var(--colorOne);
    border: 0px solid;
    padding: 36px;
    margin: 4px;
    border-radius: 36px;
}

.status {
    display: none;
    background-color: var(--colorOne);
}